
/*  Global */

html {
font-size: 18px;
font-family: helvetica;
width: 100%;
background-color: white;
line-height: 25.2px;
}

body {
}

div {
  display: block;
}

h1 {
  font-size: 2rem;
  font-family: helvetica;
  font-weight: bold;

}

h2{
  font-family: helvetica;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: white;



}

a {
  font-family: helvetica;
  font-size: 1rem;
  font-style: normal;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  display: block;
}

/*  Logo Bar */

.logo-bar {
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  text-transform: uppercase;
  z-index: 1;

}

.logo-bar .container {
  padding: .66rem 0 .66rem .5rem;
  align-items: center;
  display: flex;
  height: 2.32rem;

}

.logo {
  display: flex;
}

.logo img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}

.logo p {
  padding: 0.66rem auto;
  text-transform: capitalize;

}

/*  Header Baner */
header {
  background-image: url("../images/moto.jpeg");
  background-size:cover;
  height: 25rem;
  width: 100%;
  z-index: 1;
}


/*  Floating Box */

.caption-box {
  background-color: black;
  z-index: 0;
  width: 20rem;
  height: auto;
  color: white;
  padding: 2rem 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 9rem;


}

.caption-box h1 {
  margin: 0.25rem;

}

.caption-box h2 {
  magin: 0.25rem;

}


/*  Nav Bar */

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
}

.mobile-nav {
  display: none;
}


/*  Body */
.showcase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 3rem 0 0 0;

}

.product {
  width: 30%;
}

.product-image {
  border: 4px solid black;
  height: 9rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 8rem;

}

.description {
  background-color: black;
  color: white;
  width: 100%;
  padding: .5rem 0;
  text-align: center;
  display: block;
}

/* Contact Us */

.contact-box {
  margin: 3rem 0 0 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.contact {
  width: 35%;

}

.highlight {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;

}

.content {

}

/*  Footer */
footer {
  background-color: black;
  color: white;
  padding: 5em 0;
  margin-top: 4rem;

}

footer.container {
  text-align: left;

}

/* Screen Conversions */

/* When the screen is sized less than 1024px, Nav turns to drop down Menu, Main Banner Font Sizes Decrease, Shift to only two products and not 3 */

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }
  .mobile-nav {
    display: block;
    text-align: center;

  }
  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }
}


@media only screen and (max-width: 470px) {
  .header {
    height: 15rem;
  }

  .caption-box {
    width: 100%;
    padding: 1rem 2rem;
    top: 10rem;
  }

  .caption-box h4 {
    font-size: .77rem;
  }

  .caption-box h1 {
    font-size: 1rem;
  }

  .showcase,
  .contact-box {
    flex-wrap: wrap;
  }

  .product {
    width: 90%;
    margin: auto;
  }

  .product.watch {
    display: none;
  }

  .info {
    width: 90%;
    margin: 0.5rem auto;
  }
  footer {
    text-align: center;
  }
}
